
<div class="container">
    {{existenciaForm.value|json}}

    <form [formGroup]="existenciaForm" >
      <div class="form-group">
          <label>codigo:</label>
          <input type="text"
           class="form-control"
           formControlName="codigo" 
           name="codigo">
      </div>

   

    <div>
      <button type="button" (click)="saveform(existenciaForm.value)" [disabled]="!existenciaForm.valid" 
      class="btn btn-primary">Guardar</button>
    
    </div>
    
    
    </form>
</div>
